/* XL Device :1200px. */
@media (min-width: 1286px) and (max-width: 1449px) {
  .banner-content {
    padding-top: 50px;
  }
  .hassle-area {
    margin-top: 60px;
  }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1285px) {
  .banner-area {
    height: auto;
    padding-bottom: 200px;
  }
  .banner-content {
    padding-top: 50px;
  }
  .hassle-area {
    margin-top: 60px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 25px;
  }
  .banner-content {
    padding-top: 30px;
  }
  .banner-area {
    height: auto;
    padding-bottom: 200px;
  }
  .banner-content h1 {
    font-size: 40px;
    margin: 30px 0;
  }
  .banner-content h3 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .banner-content p {
    font-size: 16px;
  }
  .multi-single-box p {
    font-size: 14px;
  }
  .multi-para {
    font-size: 16px;
  }
  .lg-text h1 {
    font-size: 37px;
    margin-bottom: 30px;
  }
  .lg-text2 p {
    font-size: 16px;
    line-height: 28px;
  }

  .lg-text p {
    font-size: 17px;
    margin-bottom: 40px;
  }
  .lg-text2 h1 {
    font-size: 37px;
    margin-bottom: 30px;
  }
  .hassle-area {
    margin-top: 50px;
  }
  .hassle-title p {
    font-size: 25px;
  }
  .hassle-title p {
    font-size: 19px;
  }
  .hassle-title h1 {
    padding-bottom: 15px;
  }
  .hassle-main {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .hassle-content p {
    font-size: 16px;
  }
  .hassle-content h3 {
    font-size: 16px;
  }

  .single-hassle {
    gap: 20px;
  }
  .form-title h1 {
    font-size: 25px;
  }
  .form-title p {
    font-size: 20px;
  }
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-title {
    font-size: 20px;
    line-height: 28px;
  }
  .banner-content {
    padding-top: 30px;
  }
  .banner-area {
    height: auto;
    padding-bottom: 100px;
  }
  .banner-content i {
    font-size: 25px;
  }
  .banner-content h1 {
    font-size: 19px;
    margin: 15px 0;
  }
  .banner-content h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .banner-content p {
    font-size: 16px;
  }
  .multi-main {
    text-align: center;
  }
  .multi-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
  }
  .multi-single-box p {
    font-size: 14px;
  }
  .multi-para {
    font-size: 16px;
    line-height: 30px;
  }
  .lg-main {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .lg-text,
  .lg-slider-wrapper {
    width: 100%;
  }

  .lg-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .lg-text p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .lg-text2 h1 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .lg-text2 p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .lg-main2 {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .item.lg-item2 {
    padding: 50px 0;
  }
  .item.lg-item {
    padding: 50px 0;
  }
  .theme-btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }
  .hassle-area {
    margin-top: 50px;
  }
  .single-hassle {
    display: block;
    text-align: center;
  }
  .hassle-title p {
    line-height: 30px;
  }
  .hassImg {
    max-width: unset;
  }
  .form-title p {
    line-height: 28px;
  }
  .hassle-content {
    padding-top: 30px;
    text-align: center;
    max-width: 100%;
  }
  .hassle-title p {
    font-size: 25px;
  }
  .hassle-title p {
    font-size: 16px;
  }
  .hassle-title h1 {
    padding-bottom: 15px;
  }
  .hassle-main {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .hassle-content p {
    font-size: 16px;
  }
  .hassle-content h3 {
    font-size: 16px;
  }
  .single-hassle {
    margin-bottom: 50px;
  }
  .form-area {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .form-title h1 {
    font-size: 20px;
  }
  .form-title p {
    font-size: 16px;
  }
  br {
    display: none;
  }
  .form-title {
    margin-bottom: 50px;
  }
}
